.review{
  height:100vh;
  background: linear-gradient(266.92deg, #CD69B7 0%, #8CA2E7 51.56%, #91EAE4 100%), #C4C4C4;
  color: #FFFFFF;
}
.section_title{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.review_container{
  width:80%;
  margin:0rem auto; 
  text-align: center;
  padding-top:12vh;
}
.card_container{
  width:80%;
  overflow-x: hidden;
}
.review_slider{
  transition: 1s;
}
.comma{
 transform: translate(-7.2rem,.5rem);
}
.review_card{
  background: rgba(255, 255, 255, 0.65);
  width: 12.5rem;
  height:32vh;
}
.review_card,.review_sign{
  margin:0rem auto;
  margin-top: 5vh;
  border-radius: 16px;  
  color: #808080;
}
.review_sign li{
  list-style: none;
  padding-top: 5rem;
}
.review_card_img{
  padding: 2.5vh 0vh 0vh 6vh;
  margin-bottom:3.2vh;
}
.review_card h1{
  font-size: 1.5rem;
  font-weight: 600;
  margin:1.5vh 0vh 1vh 0vh;
}
