/*--------------------------------------Review---------------------------------*/
.review{
    height:100vh;
    background: linear-gradient(266.92deg, #CD69B7 0%, #8CA2E7 51.56%, #91EAE4 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 7rem;
}
.review_container{
    width:80%;
    margin:0rem auto; 
    text-align: center;
    padding-top:8vh;
  }
.card_container{
    width:80%;
    overflow-x: hidden;
}
.review_slider{
    transition: 1s;
}
.review_card{
    background: rgba(255, 255, 255, 0.65);
    width: 12.5rem;
    height:40vh;
}
  .review_card{
    margin:0rem auto;
    margin-top: 15vh;
    border-radius: 16px;  
}
  .review_sign li{
    list-style: none;
    padding-top: 5rem;
}
.review_sign{
  padding-top:12vh;
}